html{
	font-size: 8px;
}


.head{
	text-align: center;
	background-color: blue;
	color: black;
	font-size: 20px;

}
.sez{
	height:400px;
	width:500px;
}
.menu{
	background-color: grey;
	text-decoration: none;
	font-size: 20px;
	color: blue;
}
.plain{
	
	color:black;
	
	text-align: center;
}
.mycolor{
	background-color: grey;
}
.img{
	align-items: center;

}
#sidebar{
	position: fixed;
}
.carouselimage img{
width:100%;
height:100%;
align-items: center;
}
.leftcol{
	text-align: justify;
	font-family: cursive;
	font-size: 4;
}
.rightcol{
	font-family: cursive;
	text-align: justify;
}


@media (min-width: 33.9em) { 

         html {
        font-size: 10px;
      }


 }
/**
 * Small devices (phones, tablets less than 48em)
  */
@media (min-width: 47.9em) {
     html {
    font-size: 12px;
  }
}

/**
 * Medium devices (tablets, small laptops less than 62em)
 
 */
@media (min-width: 61.9em) {
    html {
    font-size: 14px;
  }

 }

/**
 * Large devices (desktops, screens less than 75em)
 * @param  {[type]} max-width: 74.9em        [description]
 * @return {[type]}            [description]
 */
@media (min-width: 74.9em) {
      
html {
    font-size: 16px;
  }
}